In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("strategy_results_train_mul.xlsx")

In [3]:
data.head()

,id,label,date,open,high,low,close,volume,ma5,mom,cmo
0,SHSE.600085_201501,0,2014-12-30,20.900000,22.090000,20.799999,22.049999,25457468.0,27.258,-1.740000,-18.749275
1,SHSE.600085_201502,1,2015-01-30,22.990000,23.190001,22.510000,22.580000,7880595.0,26.624,-0.080000,-18.484162
2,SHSE.600085_201503,1,2015-02-27,22.520000,22.670000,22.400000,22.540001,9263796.0,28.890,1.730000,23.069076
3,SHSE.600085_201504,1,2015-03-30,26.219999,26.440001,25.820000,26.230000,16125626.0,29.532,-0.240000,4.189383
4,SHSE.600085_201505,1,2015-04-29,32.580002,33.639999,32.279999,33.180000,13959795.0,31.514,-1.350002,-9.122765

In [4]:
data2 = pd.concat( [data.iloc[:, 1], data.iloc[:, 8:]], axis=1)

In [5]:
data2.head()

   label     ma5       mom        cmo
0      0  27.258 -1.740000 -18.749275
1      1  26.624 -0.080000 -18.484162
2      1  28.890  1.730000  23.069076
3      1  29.532 -0.240000   4.189383
4      1  31.514 -1.350002  -9.122765

In [6]:
data2.isnull().any()

label    False
ma5       True
mom       True
cmo       True
dtype: bool

In [7]:
data2 = data2.dropna(axis = 0)
data2.isnull().any()

label    False
ma5      False
mom      False
cmo      False
dtype: bool

In [8]:
y = data2["label"]
y

0        0
1        1
2        1
3        1
4        1
        ..
11358    0
11359    0
11360    1
11361    0
11362    1
Name: label, Length: 11361, dtype: int64

In [9]:
X = data2.iloc[:, 1:]

In [10]:
X

             ma5       mom        cmo
0      27.258000 -1.740000 -18.749275
1      26.624000 -0.080000 -18.484162
2      28.890000  1.730000  23.069076
3      29.532000 -0.240000   4.189383
4      31.514000 -1.350002  -9.122765
...          ...       ...        ...
11358 -11.471421 -0.006130  -2.952593
11359 -11.475535 -0.006175  -2.952734
11360 -11.479649 -0.006220  -2.952875
11361 -11.483763 -0.006265  -2.953017
11362 -11.487876 -0.006309  -2.953158

[11361 rows x 3 columns]

In [11]:
X = X.dropna(axis = 0)

In [12]:
X.isnull().any()

ma5    False
mom    False
cmo    False
dtype: bool

In [13]:
X.shape

(11361, 3)

In [14]:
from sklearn.ensemble import RandomForestClassifier
#from sklearn.svm import SVC
#from sklearn.linear_model import LogisticRegression
#from sklearn.ensemble import AdaBoostClassifier
clf = RandomForestClassifier()
clf.fit(X, y)

RandomForestClassifier()

In [15]:
testdata = pd.read_excel("sampleSubmission_me.xlsx")

In [16]:
testdata = testdata.fillna(0)
testdata.isnull().any()

id       False
label    False
ma5      False
mom      False
cmo      False
dtype: bool

In [17]:
testdata.iloc[:, 2:]

             ma5       mom        cmo
0      27.258000 -1.740000 -18.749275
1      26.624000 -0.080000 -18.484162
2      28.890000  1.730000  23.069076
3      29.532000 -0.240000   4.189383
4      31.514000 -1.350002  -9.122765
...          ...       ...        ...
11358 -11.471421 -0.006130  -2.952593
11359 -11.475535 -0.006175  -2.952734
11360 -11.479649 -0.006220  -2.952875
11361 -11.483763 -0.006265  -2.953017
11362 -11.487876 -0.006309  -2.953158

[11363 rows x 3 columns]

In [18]:
result = clf.predict(testdata.iloc[:, 2:])

In [19]:
pd.DataFrame(result).to_excel("prediction_me.xlsx", index=False)